*{
  padding: 0;
  margin:0;
  font-family: 'Montserrat', sans-serif;
  color: #1a1a1a;
 
}

body{
  
  min-height: 100dvh;
  display: grid;
 grid-auto-columns: 1fr;
  grid-template-rows: 100px 1fr 1fr;
  grid-template-areas: 
  "Navbar Designs"
  "text Designs"
  "Buttons Designs";
  
  background: linear-gradient(45deg, #8ef6f1, #e6d6d1 );
  
  nav{
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1em;
    margin: 1em;
    
  }
.logo{
  display: flex;
  flex-direction: row;
  font-weight: 700;

  font-size: 1.2rem;
  gap: 0.3em;
  letter-spacing: 0.5px;
 
  
}
.logo img{
  height: 1.5rem;
  width: 1.5rem;
  border: none;
  border-radius: 50px;
}

.heading{
  display: flex;
  align-items: start;
  justify-content: center;
}


h1{
  
 font-size: 5vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100%;
  margin-top: 4em;
white-space: nowrap;
padding: 1em;
   
 

}
.light_heading{
 
  font-weight: lighter;
}
.bold_heading{
   
  font-weight: bold;
}



}
.button_area{
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 4em;
  
}

button{
border: none;
background-color: white;
height: 2.5rem;
width: 7rem;
border-radius: 30px;
font-weight: bold;


}
.sign-up{
  background-color: rgba(255, 255, 255, 0.6);
  font-weight: lighter;
  
}
button:hover{
  border: 2px solid white;
  background-color: transparent;
  transform: translateY(-0.5em);
}
.show_case{
 
  margin-right: 2em;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 130px;
  grid-template-areas: 
  "box1 box1 box2"
  "box3 box4 box4"
  "box5 box4 box4";
  justify-content: center;
  align-content: center;
  gap: 1em;
}
.case_items{
  min-width: 100px;
   width: 100%;
  height: 100%;
  object-fit: cover;
  border: 4px solid white;
  border-radius: 50px;
}

.box1 { grid-area: box1; }
.box2 { grid-area: box2; }
.box3 { grid-area: box3; }
.box4 { grid-area: box4; }
.box5 { grid-area: box5; }



@media(max-width: 59em) {
  body{
    width: 100%;
    grid-template-rows: 150px 100px 400px 350px;
    grid-template-areas: 
    "Navbar Navbar"
    "text text"
    "Buttons Buttons"
    "Designs Designs";
    justify-items: center;
    align-items: center;
  }
nav{
  justify-content: center;
}

}
@media(max-width: 42em){
   body{
    min-height: 100dvh;
    grid-auto-columns: 1fr;
    grid-template-rows: 100px 50px 350px 350px;
    grid-template-areas: 
    "Navbar Navbar"
    "text text"
    "Buttons Buttons"
    "Designs Designs";
   
    justify-items: center;
    align-items: center;
  }
  nav{
  justify-content: center;
}
  
  h1{
    font-size: 4vmin;
    white-space: wrap;
  }
  .button_area{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
  }
  

  .show_case{
    margin: 0.31em;
    
    grid-template-areas: 
    "box1 box1"
    "box3 box5"
    "box4 box4"
    ;
    
   
  }
  .box2{
display: none;
  }
  
}