*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding: 1em;
  background-image: url("/assets/img/abstract-geometric-wireframe-background_52683-59421.avif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: white;
  backdrop-filter: blur(4px );
}

.parent-container{
  flex-shrink: 0;
  border: none;
  height: 400px;
  width: 800px;
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: 400px;
  align-items: center;
  justify-items: center;
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
  box-shadow: 2px 2px 30px 5px grey;
}


.left-side, .right-side{
  width: 100%;
  height: 100%;

  display: grid;
align-items: start;

justify-items: center;


}


form{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* visibility: hidden; */
  justify-content: center;
  justify-items: center;
  gap: 1em;
  width: 80%;
  grid-row: 1 / 2;
  grid-column: 1/2;
  padding: 1em;
  margin-top: 1em;
 
}
form input{
  width: 100%;
  height: 3em;
  border: none;
  outline: none;
  font-size: 1rem;
  border-bottom: 3px solid #000000;
  padding: 5px;
 

}


.note1, .note2 {
   grid-row: 1 / 2;
  grid-column: 1/2;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 1em;
  color: #f4f4f4;
}
.note1 h1, .note2 h1{
  font-size: 3rem;
}
.note1 p, .note2 p{
  font-size: 1.5rem;
  
}
.note1 button, .note2 button{
  width: 8em;
  height: 2.5em;
  border-radius: 50px;
  font-size: 1rem;
  margin-top: 1em;
  border: 2px solid white;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px 5px rgb(197, 195, 195);
  background-color: #079af5;
   transition: all 0.2s ease-in-out;
   color: #f4f4f4;
 
}
.note1 button::after, .note2 button::after{
  position: absolute;
  content: " ";
  inset: 0;
  height: 180%;
  width: 120%;
  top: -50%;
  left: 0%;
  background-image: linear-gradient(145deg,#0044ff , #b2d8ee ,#a2b9ff , #21d2e6e7 );
   z-index: -1;
   
}
.note1 button:hover, .note2 button:hover{
 background-color: transparent;
 color: #000000;
 
}

 h2{
  font-size: 2rem;
  
 }

 .note1{
  transform: translateX(-110%);
  opacity: 1;
  transition: all .4s ease-in-out;
 }
 form button{
  margin-top: 1em;
  width: 60%;
  height: 3em;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
 z-index: 1;
 color: #ffffff;

 }

 form button::after{
  position: absolute;
  content: " ";
  inset: 0;
  height: 180%;
  width: 120%;
  top: -70%;
  left: -10%;
  background-image: linear-gradient( #1b57fc, #4eb8fb,#184ad3, #8d77b7e7);
   z-index: -1;
    transition: all .2s ease-in-out;
 }

 form button:hover::after{
  transform: translateY(20px);
}
 .patch-element{
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
  /* background-color: #4eb8fb; */
  background-image: linear-gradient(90deg, #4eb8fb,#1b57fc, #7430fbe7);
  z-index: 0;
  border-radius:  80px 0 0 80px ;
 transform: translateX(100%);
 transition: all .4s ease-in-out;
 
  
 }

 .users{
  transform: translateX(0);
  
  opacity: 1;
 transition: all 0.4s ease-in-out;

 }
 .professionals{
  transform: translateX(100%);
  visibility: hidden;
  opacity: 0;
 transition: all 0.4s ease-in-out;
 }

 .note2{
   transform: translateX(0);
  visibility: visible;
  opacity: 1;
 transition: all 0.4s ease-in-out;
 }
 .note1{
  transform: translateX(-110%);
  visibility: hidden;
  opacity: 0;
 transition: all 0.4s ease-in-out;
 z-index: 1;
 }

.patch-element.active{
  transform: translateX(0);
  border-radius: 0 80px 80px 0;
}

 .users.active{
  transform: translateX(-110%);
  visibility: hidden;
  opacity: 0;
}

.note1.active{
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
  transition-delay: .2s;
}

.note2.active{
  transform: translateX(100%);
  visibility: hidden;
  opacity: 0;
}

.professionals.active{
  transform: translate(0);
  visibility: visible;
  opacity: 1;
  transition-delay: .2s;
}


 .patch-element.deactive{
  transform: translateX(100%);
  border-radius:  80px 0 0 80px ;
   
}

.users.deactive{
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
  transition-delay: .2s;
}
 .note1.deactive{
  transform: translateX(-110%);
  visibility: hidden;
  opacity: 0;
}

.note2.deactive{
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
  transition-delay: .2s;
}
.professionals.deactive{
  transform: translate(100%);
  visibility: hidden;
  opacity: 0;
}

@media(max-width: 53em){
  .parent-container{
    width: 400px;
    height: 500px;
      background-image: linear-gradient(135deg, #f4f4f4 60%,  #4eb8fb,#1b57fc, #7430fbe7 );
 grid-template-columns: 400px;
 grid-template-rows: 500px;
  }
  form input{
    background-color: rgb(252, 255, 255, 0.6);
  }
  .note1, .note2{
    color: #000000;
  }

  .note1 h1 , .note2 h1  {
    display: none;
  }

.left-side{
  grid-column: 1/2;
  grid-row: 1/2;
   display: flex;
  flex-direction: column;
  
  
}
.right-side{
  grid-column: 1/2;
  grid-row: 1/2;
 
   display: flex;
  flex-direction: column;
 
}
.patch-element{

   display: none;
}

form{
  width: 100%;
  padding: 1em;
  
}


}
