@import "tailwindcss";
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar{
  display: none;
}

.no-scrollbar{
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.input-section:focus ~ label,
.input-section:not(:placeholder-shown) ~label
 {
  transition: all 200ms ease-in-out;
  transform: translate(-20px, -20px) scale(0.8);
  opacity: 1;
  color: #f59e0b;
  
}

