@import "tailwindcss";

.animate-popUp{
  animation:  popOver 1s ease-in-Out;
}

@keyframes popOver {
  from{
    transform: translateY(100%);
    opacity: 0;

  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}


.animate-sidePop{ 
  animation: sidePop 1s ease-in-out;

}

@media (min-width: 768px) {
  .animate-sidePop {
    animation: sidepopOpp 1s ease-in-out infinite;
  }
}


@keyframes sidePop{
  from{
    transform: translateX(-100%);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}

/* .animate-sidePopOpp{
 animation : sidePopOpp 1s ease-in-out;
  
} */

@keyframes sidePopOpp{
  from{
    transform: translateX(100%);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-popDown{
 animation : popdown 1s ease-in-Out;
}

@keyframes popdown {
  from{
    transform: translateY(-100%);
    opacity: 0;

  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}

.no-scrollbar::-webkit-scrollbar{
  display: none;
}

.no-scrollbar{
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.input-section:focus ~ label,
.input-section:not(:placeholder-shown) ~label
 {
  transition: all 200ms ease-in-out;
  transform: translate(-20px, -20px) scale(0.8);
  opacity: 1;
  color: #f59e0b;
  
}

